## Source Data ##

In [5]:
import pandas as pd

source_data = "csv"
#source_data = "txt"
#source_data = "sql"

data_input_path = 'Resources/comic_books.csv'
data_output_path = 'Resources/comic_books_clean.csv'

if source_data == "csv":
    df = pd.read_csv(data_input_path)
    print("csv loaded from " + source_data)
elif source_data == "txt":
    print("txt loaded from " + source_data)
elif source_data == "sql":
    print("sql loaded from " + source_data)

csv loaded from csv

# Previw Data #

In [3]:
df.head()

,Title,Other titles,ISBN,All names,Series title,Number within series,Country of publication,Place of publication,Publisher,Date of publication,Genre
0,10 dance,Ten dance,9781632367655,"Inouesatoh, artist ; author [person]",NaN,NaN,United States of America,New York,Kodansha Comics,2019,Comic or graphic novel ; Fiction ; Novel
1,100 Bullets : Brother Lono,Brother Lono,9781401245061,"Azzarello, Brian, author [person] ; Risso, Edu...",NaN,NaN,United States of America,New York,DC Comics ; Vertigo,2014,Comic or graphic novel ; Novel
2,100 Bullets : the deluxe edition book five,One hundred bullets,9781401242718 ; 9781401261337,"Johnson, Dave, 1966-, illustrator [person] ; M...",NaN,NaN,United States of America,New York,DC Comics ; Vertigo,2013,Comic or graphic novel ; Novel
3,100 bullets,Counterfifth detective ; Decayed ; Dirty ; Fir...,NaN,"Azzarello, Brian [person] ; Risso, Eduardo [pe...",NaN,NaN,England ; United States of America,London ; New York,DC Comics ; Titan,2000-2009,Comic or graphic novel
4,1000 cuts,Deathmatch. Volume two. A thousand cuts ; Thou...,9781608863310,"Jenkins, Paul, 1965-, author [person] ; Carlso...",NaN,NaN,United States of America,"Los Angeles, California",BOOM! Studios,2013,Comic or graphic novel

# Change Column Names #

In [13]:
# Your string representation of a dictionary
#a = "{'Old Name': 'New Name', 'Old Name': 'New Name'}"
a = "{'Title': 'Comic_Title', 'Date of publication': 'Publication_date'}"

# Convert the string to a dictionary using eval() - Note: use this cautiously
column_mapping = eval(a)

# Renaming columns
df.rename(columns=column_mapping, inplace=True)

# Displaying the DataFrame after renaming columns
print("\nDataFrame after renaming columns:")
df.head()

DataFrame after renaming columns:

,Comic_Title,Other titles,ISBN,All names,Series title,Number within series,Country of publication,Place of publication,Publisher,Publication_date,Genre
0,10 dance,Ten dance,9781632367655,"Inouesatoh, artist ; author [person]",NaN,NaN,United States of America,New York,Kodansha Comics,2019,Comic or graphic novel ; Fiction ; Novel
1,100 Bullets : Brother Lono,Brother Lono,9781401245061,"Azzarello, Brian, author [person] ; Risso, Edu...",NaN,NaN,United States of America,New York,DC Comics ; Vertigo,2014,Comic or graphic novel ; Novel
2,100 Bullets : the deluxe edition book five,One hundred bullets,9781401242718 ; 9781401261337,"Johnson, Dave, 1966-, illustrator [person] ; M...",NaN,NaN,United States of America,New York,DC Comics ; Vertigo,2013,Comic or graphic novel ; Novel
3,100 bullets,Counterfifth detective ; Decayed ; Dirty ; Fir...,NaN,"Azzarello, Brian [person] ; Risso, Eduardo [pe...",NaN,NaN,England ; United States of America,London ; New York,DC Comics ; Titan,2000-2009,Comic or graphic novel
4,1000 cuts,Deathmatch. Volume two. A thousand cuts ; Thou...,9781608863310,"Jenkins, Paul, 1965-, author [person] ; Carlso...",NaN,NaN,United States of America,"Los Angeles, California",BOOM! Studios,2013,Comic or graphic novel

# Find Nulls #

In [17]:


# Finding null values
null_values = df.isnull()

# Displaying the DataFrame with boolean values indicating null positions
print("\nDataFrame with Null Values (True indicates null):")


# Counting null values in each column
null_count = df.isnull().sum()

# Displaying the count of null values in each column
print("\nCount of Null Values in Each Column:")
print(null_count)

DataFrame with Null Values (True indicates null):

Count of Null Values in Each Column:
Comic_Title                   0
Other titles               8618
ISBN                       2379
All names                  1297
Series title               9875
Number within series      13330
Country of publication       11
Place of publication        134
Publisher                  1268
Publication_date            194
Genre                         0
dtype: int64

,Comic_Title,Other titles,ISBN,All names,Series title,Number within series,Country of publication,Place of publication,Publisher,Publication_date,Genre
0,False,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False,False
3,False,False,True,False,True,True,False,False,False,False,False
4,False,False,False,False,True,True,False,False,False,False,False

# Delete rows/columns #

In [19]:

#reference activity 4.2.3 Cleaning_Data

#Delete rows with null values

df_cleaned = df.dropna()

# Displaying the DataFrame after dropping rows with null values
print("\nDataFrame after dropping rows with null values:")
df_cleaned.head()


## Delete extraneous column
del df['column_name']
## verify dropped columns/rows
df.count()

##verify data types
df.dtypes()

DataFrame after dropping rows with null values:

,Comic_Title,Other titles,ISBN,All names,Series title,Number within series,Country of publication,Place of publication,Publisher,Publication_date,Genre
22,1602,"Marval 1602 ; Marvel comics (New York, N.Y.)",9781908648174,"Klein, Todd [person] ; McKowen, Scott, illustr...",The ultimate graphic novels collection,32 [The ultimate graphic novels collection],England,London,Hachette,2013,Comic or graphic novel
36,20 seconds,20 secondes. English ; Twenty seconds,9781849183239,"Francq, Philippe, artist [person] ; Hamme, Jea...",Largo Winch,16 [Largo Winch],England,"Canterbury, Kent",Cinebook,2014,Comic or graphic novel ; Novel ; Suspense fiction
90,50 shades of clay,Fifty shades of clay,9781629918211 ; 9781629918228,"Yates, Jolyon, artist [person] ; Whitman, Jeff...",Gumby,1 [Gumby],United States of America,New York,Papercutz,2017,Comic or graphic novel
97,7 blades of Master Darque,The seven blades of Master Darque,9781682152119,"Cafu, artist [person] ; Kindt, Matt, author [p...",Ninjak,volume 6 [Ninjak],United States of America,New York,Valiant Entertainment LLC,2017,Comic or graphic novel
112,A Christmas carol : Mugby Junction,Mugby junction,9781597073455,"Meyrand, Estelle [person] ; Dickens, Charles, ...",Classics illustrated deluxe,9 [Classics illustrated deluxe],England ; United States of America,Godalming ; New York,Melia ; Papercutz,2012,Children's fiction ; Comic or graphic novel

# Remove Special characters (non-numeric or non-alphabet) #

In [20]:
# Creating a sample DataFrame with special characters
data = {'A': ['apple', '@banana', 'cherry!', '123%orange']}
data = pd.DataFrame(data)

# Displaying the original DataFrame
print("Original DataFrame:")
print(data)

# Removing special characters using the replace method with regex
data.replace(regex=r'[^a-zA-Z0-9\s]', value='', inplace=True)

# Displaying the DataFrame after removing special characters
print("\nDataFrame after removing special characters:")
print(data)

Original DataFrame:
            A
0       apple
1     @banana
2     cherry!
3  123%orange

DataFrame after removing special characters:
           A
0      apple
1     banana
2     cherry
3  123orange

# Save Data #

In [8]:
if source_data == "csv":
    # Write the DataFrame to a CSV file
    df.to_csv(data_output_path, index=False)

    print(f'csv data has been written to {data_output_path}')
elif source_data == "txt":
    print(f'txt data has been written to {data_output_path}')
elif source_data == "sql":
    print(f'sql data has been written to {data_output_path}')

csv data has been written to Resources/comic_books_clean.csv

# Replacing Data #

In [ ]:
# Clean up values in a column (eg, 'Not employed' is the same as 'umemployed'. In this case, only one value is needed. Replace 'A' with 'B' in 'column'
df['column'] = df['column'].replace({'A': 'B'})
df['column'].value_counts()